<h1>
  Order Form.
</h1>

{{orderForm.pristine | json}} {{orderForm.value | json}}

<form [formGroup]="orderForm">
  <div class="form-group">
    <input type="number" class="form-control" formControlName="orderId">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="customerName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="mobile">
  </div>

  <div formGroupName="address">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="addressLine1">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="addressLine2">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="city">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="pin">
    </div>
  </div>
</form>

<!-- <input type="text" formControlName="name" name="userName" placeholder="UserName" class="form-control"> -->