<h1>{{title}}</h1>


{{employeeList | json}}

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Salary
            </th>
            <th>
               Date of Birth
            </th>
            <th>
              Select
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeList">
            <td>
                {{emp.id | percent}}
            </td>
            <td>
                {{emp.name | lowercase}}
            </td>
            <td>
                {{emp.email}}
            </td>
            <td>
                {{emp.salary | amount : '$' }}
            </td>
            <td>
                {{emp.dob | date : 'dd-MMM-yyyy'}}
            </td>
            <td>
              <button (click)="selectEmployee(emp)" type="button" class="btn btn-primary">
                Select
              </button>
            </td>
        </tr>
    </tbody>
</table>
